<div class="row container-fluid">

  <nav class="col-md-2" id="nav-sidebar">
    <div id="sidebar-header">
      <h1>{{ main.title }}</h1>
      <button class="btn-sm btn-success" ng-click="main.open()">New Room</button>
    </div>
    <ul class="list-unstyled">
      <li ng-repeat="room in main.rooms" ng-click="main.setActiveChatRoom(room)">
        {{ room.name }}
      </li>
    </ul>
  </nav>

  <div class="col-md-10" id="primary-chat">
    <h2>{{ main.activeRoom.name }}</h2>
    <ul class="list-unstyled">
      <li ng-repeat="message in main.messages">
        {{ message.content }}<span>{{ main.formatDate(message.sentAt) }}</span>
      </li>
    </ul>
    <div>
      <input type="text" ng-model="main.text" >
      <button class="btn-sm btn-success" ng-disabled="main.text === '' || !main.activeRoom" ng-click="main.sendMessage()">Send</button>
    </div>
  </div>

</div>
